@model IEnumerable<Area>
<partial name="_AddNew"/>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.AreaName)</th>
        <th>@Html.DisplayNameFor(model => model.City)</th>
        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
        <th>@Html.DisplayNameFor(model => model.CreatorId)</th>
        <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
        <th>@Html.DisplayNameFor(model => model.ModifierId)</th>
        <th>@Html.DisplayNameFor(model => model.LastModifiedDate)</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AreaName)</td>
            <td>@Html.DisplayFor(modelItem => item.City.CityName)</td>
            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
            @Html.EditorFor(modelItem => item)
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/dataTableOptions.js"></script>
}