@model UserTest
<h1>CreateReservation</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateReservation" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(x => x.LabId)


            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <select asp-for="TestId" class="form-control select2" asp-items="ViewBag.TestId">
                    <option></option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="TestDate" class="control-label"></label>
                <input asp-for="TestDate" class="form-control" />
                <span asp-validation-for="TestDate" class="text-danger"></span>
            </div>

            <div class="form-group TestLocation hidden">
                <label asp-for="TestLocation" class="control-label"></label>
                <div class="row pl-5">
                    @(Html.RadioButtonFromEnum(x => x.TestLocation, typeof(TestLocation)))
                </div>
            </div>

            <div class="form-group BranchId hidden">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" class="form-control select2" asp-items="ViewBag.BranchId">
                    <option></option>
                </select>
            </div>

            <div class="form-group CityId hidden">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control select2" asp-items="ViewBag.CityId">
                    <option></option>
                </select>
            </div>
            <div class="form-group AreaId hidden">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" class="form-control select2" asp-items="ViewBag.AreaId">
                    <option></option>
                </select>
            </div>
            <div class="form-group HomeAddress hidden">
                <label asp-for="HomeAddress" class="control-label"></label>
                <input asp-for="HomeAddress" class="form-control" />
                <span asp-validation-for="HomeAddress" class="text-danger"></span>
            </div>

            @Html.InputSubmit("Create")

        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>

        $(".hidden").hide();

        $(document).ready(function () {

            $("#TestId").on("change",
                function() {

                    if ($(this).val() == '') {
                        $(".hidden").hide();
                        $(".hidden").clearFormElements();
                    } else {
                        $(".TestLocation").show();
                    }
                });

            $("input[name='TestLocation']").on("change",
                function() {
                    console.log($(this).val());

                    if ($(this).val() == 1) {
                        //  At Home
                        getCities();
                        $(".BranchId").hide();
                        $(".BranchId").clearFormElements();
                        $(".CityId, .AreaId, .HomeAddress").show();
                        $(".AreaId, .HomeAddress").show();
                        $(".HomeAddress").show();
                        select2();
                    }

                    if ($(this).val() == 2) {
                        //  In Branch
                        getBranches();
                        $(".BranchId").show();
                        $(".CityId, .AreaId, .HomeAddress").hide();
                        $(".AreaId, .HomeAddress").hide();
                        $(".HomeAddress").hide();
                        $(".CityId, .AreaId, .HomeAddress").clearFormElements();
                        select2();
                    }
                });

            $("#CityId").on("change",
                function() {
                    if ($(this).val() == '') {
                        $(".AreaId, .HomeAddress").hide();
                        $(".AreaId, .HomeAddress").clearFormElements();
                    } else {
                        getAreas();
                        $(".AreaId, .HomeAddress").show();
                    }
                });

            $("#AreaId").on("change",
                function() {
                    if ($(this).val() == '') {
                        $(".HomeAddress").hide();
                        $(".HomeAddress").clearFormElements();
                    } else {
                        $(".HomeAddress").show();
                    }
                });
        });

        function select2() {
            $(".select2").each(function() {
                var $InputEl = $(this);
                var label = $($InputEl.parents("div.form-group").find('label[for="' + $InputEl.attr("id") + '"]')).text();
                $InputEl.select2({
                    theme: "bootstrap4",
                    placeholder: `Select ${label}`,
                    allowClear: true
                });
            });
        }

        function getBranches() {
            $.ajax({
                url: '@Url.Action("GeBranches", "Home")',
                type: "GET",
                dataType: "json",
                async: true,
                success: function(data) {
                    if (data != null) {
                        $("#BranchId").find('option').remove();
                        $.each(data,
                            function(key, object) {
                                $("#BranchId").append($("<option></option>").attr("value", object.Id).text(object.Name));
                            });
                    }
                }
            });
        }

        function getCities() {
            $.ajax({
                url: '@Url.Action("GetCities", "Home")',
                type: "GET",
                dataType: "json",
                async: true,
                success: function(data) {
                    if (data != null) {
                        $("#CityId").find('option').remove();
                        $.each(data,
                            function(key, object) {
                                $("#CityId").append($("<option></option>").attr("value", object.Id).text(object.Name));
                            });
                    }
                }
            });
        }

        function getAreas() {
            $.ajax({
                url: '@Url.Action("GetAreas", "Home")',
                type: "GET",
                dataType: "json",
                data: {
                    cityId: $("#CityId").val()
                },
                async: true,
                success: function(data) {
                    if (data != null) {
                        $("#AreaId").find('option').remove();
                        $.each(data,
                            function(key, object) {
                                $("#AreaId").append($("<option></option>").attr("value", object.Id).text(object.Name));
                            });
                    }
                }
            });
        }


    </script>
}