@model IEnumerable<Test>
<partial name="_AddNew"/>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.TestName)</th>
        <th>@Html.DisplayNameFor(model => model.TestDetails)</th>
        <th>@Html.DisplayNameFor(model => model.Price)</th>
        <th>@Html.DisplayNameFor(model => model.AtHome)</th>
        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
        <th>@Html.DisplayNameFor(model => model.CreatorId)</th>
        <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
        <th>@Html.DisplayNameFor(model => model.ModifierId)</th>
        <th>@Html.DisplayNameFor(model => model.LastModifiedDate)</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.TestName)</td>
            <td>@Html.DisplayFor(modelItem => item.TestDetails)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.AtHome)</td>
            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
            @Html.EditorFor(modelItem => item)
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/dataTableOptions.js"></script>
}