@model Branch
<div>
    <h4>Branch</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.BranchName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.BranchName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.BranchAddress)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.BranchAddress)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Area)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Area.AreaName)</dd>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Lab)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Lab.LabName)</dd>
        <partial name="_Detalis" model="Model"/>
    </dl>
</div>
<partial name="_BackOrEdit" model="Model"/>